@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

* {
  scroll-behavior: smooth;
}

.app {
  min-height: 100vh;
  background-color: #0F0F0F;
  color: white;
  padding-top: 90px;
  padding-bottom: 70px;
  background-image: url("https://transparenttextures.com/patterns/green-dust-and-scratches.png");
}

@media (max-width: 700px) {
  .app {
    padding-top: 70px;
  }
}

.pageTitle {
  display: flex;
  justify-content: center;
  font-family: 'PT Serif', serif;
  font-size: 2vw;
  padding: 4px;
  border-radius: 50px;
  color: white;
}

@media (max-width: 1000px) {
  .pageTitle {
    font-size: 6.4vw;
  }
}
